.customer-nav li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.react-calendar__tile, .react-calendar__month-view__days__day, .react-calendar__month-view__days__day--neighboringMonth{
    background-color: rgb(255, 255, 255) !important;
    color: black;

}

.react-calendar__navigation__arrow, .react-calendar__navigation__prev2-button{
    background-color: black;
    color: rgb(255, 255, 255);
}

.react-calendar__navigation__label{
    background-color: black;
    color: rgb(255, 255, 255);
    

}

.react-calendar__navigation{
    width: 100%;
    margin-left: 28px;
}

.Calendar{
    width: 40%;
    margin-top: -380px;
    margin-left: 60%;
    right: 0;
}

.status-complete{
    width: 120px;
    background-image: radial-gradient(100% 100% at 100% 0, #f59891 0, #DF3D30 100%);
    box-shadow: #DF3D30 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #DF3D30 0 -3px 0 inset;
  
  }
  
  .status-complete:focus {
    box-shadow: #DF3D30 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #DF3D30 0 -3px 0 inset;
  }
  
  .status-complete:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #DF3D30 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .status-complete:active {
    box-shadow: #DF3D30 0 3px 7px inset;
    transform: translateY(2px);
  }

  .save-edit{
    box-shadow: #2DC98A 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2DC98A 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #5aff91 0, #2DC98A 100%);
  
  }
  
  .save-edit:active {
    box-shadow: #2DC98A 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .save-edit:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2DC98A 0 -3px 0 inset;
    transform: translateY(-2px);
  }