.customer-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.react-calendar__tile,
.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--neighboringMonth {
    background-color: rgb(255, 255, 255) !important;
    color: black;

}

.react-calendar__navigation__arrow,
.react-calendar__navigation__prev2-button {
    background-color: black;
    color: rgb(255, 255, 255);
}

.react-calendar__navigation__label {
    background-color: black;
    color: rgb(255, 255, 255);


}

.react-calendar__navigation {
    width: 100%;
    margin-left: 28px;
}

.Calendar {
    width: 40%;
    margin-top: -380px;
    margin-left: 60%;
    right: 0;
}

@media screen and (max-width:400px) and (min-width: 100px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .admin-header {
        display: none !important;
    }

    .admin-homepage-body {
        display: none;
    }

    .logo {
        display: block !important;
        margin-top: -10% !important;
        margin-left: 100px !important;
    }

    .nav-item-responsive {
        display: block !important;
    }
    .header {
        width: 100%;
        height: 60px !important;
        padding: 1%;
        margin-bottom: 100px;
    }

    .nav-link{
        color: black !important;
        
    }
    .nav-item-responsive{
        border-bottom: 1px solo black !important; 
    }
}