.service-page section {
    height: 100vh;
    width: 80%;
    /* display: grid; */
    place-items: center;
    margin-left: 10%;
    margin-bottom: 150px;
    border: 0px;
}

.service-page .row {
    display: flex;
    flex-wrap: wrap;
}

.service-page .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.service-page .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2DC98A 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

.service-page h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
}

.service-page p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.service-page .icon-wrapper {
    background-color: #2DC98A;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.service-page .card:hover {
    background-position: 0 100%;
}

.service-page .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #1f194c;
}

.service-page .card:hover h3 {
    color: #ffffff;
}

.service-page .card:hover p {
    color: #f0f0f0;
}

@media screen and (min-width: 768px) {
    section {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (max-width:400px) and (min-width: 100px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .signature {
        display: none;
    }

    .carimg img {
        width: 300px;
    }

    .section-heading {
        margin-top: 15%;
    }

    .footerservice {
        margin-top: 100rem !important;
    }

    .service-page p {}
}