.admin-header {
  width: 100%;
  height: 70px;
  background-color: #2DC98A;
  padding: 1%;
}

.header a {
  color: white;
}

/* ----------------------------ADMIN-ROLE---------------------- */

.admin-role {
  border-bottom: 1px solid #A4A5A8;
  height: 70px;
  width: 100%;
  position: relative;

}

.admin-role div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* move the element back 50% of its own height and width */
  /* center the text within the paragraph */
}

/* ----------------------------------------- */

.admin-homepage-body {
  position: relative;
}

.admin-nav-custom {
  margin-top: 50px;
  margin-left: 6%;
  width: 10%;
  text-align: center;
  float: left;
}




.admin-nav-custom li {
  padding: 0 20px 0 20px;

}

.nav-custom li {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 15px;

}

.admin-nav-custom a {
  color: #A4A5A8;
  text-decoration: none;
}

.admin-nav-custom li:hover {
  transition: 1s;
  background-color: #2DC98A;
}

.admin-nav-custom li:focus {
  transition: 1s;
  background-color: #2DC98A;
}

/* ----------------------------------------DASHBOARD---------------------------- */
.admin-homepage-dashboard {
  margin-left: 20%;
  padding-top: 40px;
  width: 75%;
  right: 6%;
  top: 0px;
  
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  float: right;
}

.pagination li {
  list-style: none;
  margin: 0 10px;
}

.pagination li a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pagination li.active a {
  background-color: #2DC98A;
  color: #fff;
  border-color: #2DC98A;
}

.pagination li a:hover {
  background-color: #2DC98A;
}




/* ----------------------------------------------------------------------------- */


.not-hover:hover {
  border: none;
}

.logo {
  width: 150px;
  height: 40px;
  margin-left: 80px;
  background-color: black;
  float: left;
}

.footer {
  width: 100%;
  background-color: #2DC98A !important;
  padding: 1%;
  margin-bottom: 10px;
  color: white;
}

.footer a,
p {
  color: white;
}