  button:focus {
    box-shadow: #2DC98A 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2DC98A 0 -3px 0 inset;
  }

  button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2DC98A 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  button:active {
    box-shadow: #2DC98A 0 3px 7px inset;
    transform: translateY(2px);
  }

  .filter-id {
    margin-left: 7%;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .filter-id input {
    width: 300px;
    height: 30px;
    border: 0.5px solid #8AA4B3;
    padding: 10px;
    margin-left: 5px;
    border-radius: 0;

  }

  .filter-id input:focus {
    border: 0.5px solid #8AA4B3;
    outline: none !important;
  }

  .filter-id button {
    box-shadow: #2DC98A 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2DC98A 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #5aff91 0, #2DC98A 100%);
  }

  .nav-custom-sercurity {
    margin-top: 25px !important;
    margin-bottom: 20px !important;

  }



  /* .nav-custom-sercurity a:active,
  .nav-custom-sercurity a.active {
    color: #ffffff !important;

  } */

  .nav-custom-sercurity a.active,
  .nav-custom-sercurity a:active,
  .nav-custom-sercurity a:focus {
    color: #ffffff;
  }

  .nav-custom-sercurity li.active,
  .nav-custom-sercurity li:active,
  .nav-custom-sercurity li:focus {
    background-color: #2DC98A;
  }

  .security-add-new input {
    width: 150px;
    height: 30px;
    border-radius: 0;
  }

  .security-add-new button {
    box-shadow: #1652F0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1652F0 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #4172ee 0, #1652F0 100%);

  }

  input {
    width: 300px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: 0.5px solid #8AA4B3;
    padding: 10px;
    margin-left: 5px;

  }

  select {

    border: 0.5px solid #8AA4B3;
    padding: 10px;
    margin-left: 5px;
    font-size: 10px;
  }

  input,
  section,
  option:focus {
    border: 0.5px solid #8AA4B3;
    outline: none !important;
  }

  button {
    height: 30.5px;
    width: 80px;
    border-radius: 0 5px 5px 0;
    border: 0.5px solid #8AA4B3;
    background-color: #2DC98A;
    color: #ffffff;
  }

  /* -----------------------------POPUP------------------------------------- */
  .popup {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-main {
    background-color: white;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    height: auto;
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  /* -----------------------popup-edit-user-------------------- */
  .popup-edit-user {
    text-align: center;
  }

  .popup-edit-user input {
    width: 42% !important;
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .popup-edit-user select {
    width: 42% !important;
    border-radius: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .popup-edit-user button {
    width: 40% !important;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 30%;
    box-shadow: #2DC98A 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2DC98A 0 -3px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #5aff91 0, #2DC98A 100%);

  }

  /* ------------------------Popup-Slot------------------------ */
  .form-infor-slot {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .form-infor-slot i {
    float: right;
    font-size: 18px;
  }

  .form-infor-slot span {
    font-size: 18px;

  }