* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.errmsg {
  color: red;
}



app-check {
  height: 20px;
  width: 20px;
  margin: 1%;
}




.card-body {
  margin-left: 6vh;
  border: none;
}



.instruction {
  position: relative;
  margin-bottom: -20px;
}


.offscreen {
  position: absolute;
  left: -9999px;
  z-index: 100;
}

.errMsg {
  background-color: red;
}

.errmsg {
  color: red;
}

#emainode {
  margin-bottom: 20px;
}

#confirmnode {
  margin-bottom: 0px;
}

.line {
  color: black;
}



/* --------------------------BACKGROUND------------------------- */
.container-login {
  position: relative;
  height: 790px;
}

.container-background {
  position: absolute;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: #2DC98A !important;
}

.container-background>img {
  position: absolute;
}

.container-background>img>img {
  margin-top: -10px;
  margin-left: 150px;
}

/* --------------------------LOGIN------------------------- */
.login-form {
  width: 350px;
  margin-top: 5%;
  margin-left: 20%;
  position: absolute;
  z-index: 11;
}

.login-form input {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: 0.5px solid #8AA4B3;
  margin-top: 10px;
  padding: 10px;
}

.login-form input:focus {
  border: 0.5px solid #8AA4B3;
  outline: auto #C5EDDF;
}

.login-form>button {
  margin-bottom: 30px;
  margin-top: 160px;
  font-weight: 500;
}

.login-form>span {
  margin-bottom: 30px;
  color: #8AA4B3;
  font-weight: 500;
}

.login-form>form>a {
  font-weight: 500;
  color: #2DC98A !important;
  text-decoration: underline !important;
}

.login-form>form>a:hover {
  color: #1F8A64 !important;

}

.dash-or {
  width: 350px;
  height: 0px;
  border-bottom: 0.5px solid #8AA4B3;
  position: relative;
}

.dash-or span {
  display: block;
  width: 30px;
  text-align: center;
  color: #8AA4B3;
  background-color: #fff;
  position: absolute;
  align-items: center;
  margin-left: 160px;
  margin-top: -13px;
  font-weight: 500;
}

.login-form button {
  background-color: #2DC98A;
  width: 350px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #2DC98A;
}

.login-form>.google {
  position: "relative";
  background-color: #fff !important;
}

.login-form>.google:hover {
  background-color: #f4f4f4 !important;
}

.login-form button:hover {
  background-color: #1F8A64;
  transition: 0.5s;

}

.anyaccount {
  position: relative;
  width: 160px !important;
  height: 40px !important;
  display: inline-block;
  margin-top: 30px;
}

.anyaccount span {
  position: absolute;
  top: 25%;
  left: 0%;
  margin: 0;
  transform: translateY(-50%, -50%);
  font-size: 13px;
  font-weight: 500;
}

.btn-signup {
  background-color: #fff !important;
  width: 180px !important;
  height: 40px !important;
  text-align: center;
  border: 1px solid #2DC98A !important;
  margin-top: 30px !important;
  float: right;
  font-weight: 500;
  font-size: 15px !important;
}

.btn-signup:hover {
  background-color: #2DC98A !important;

}

/* --------------------------REGISTER------------------------- */
.container-register {
  height: 790px;
  position: relative;
}

.background-register {
  position: absolute;
  top: 0;
  z-index: 1;
}

.register-form {
  width: 500px;
  margin-top: 3%;
  margin-left: 20%;
  z-index: 99;
  position: absolute;
}

.register-form input {
  height: 50px;
  border-radius: 5px;
  border: 0.5px solid #8AA4B3;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;


}

.register-form input:focus {
  border: 0.5px solid #8AA4B3;
  outline: auto #C5EDDF;
}

.validName {
  position: relative;
}

.valid {
  position: absolute;
  color: green;
  margin-left: -25px;
  margin-top: 15px;

}

.invalid {
  position: absolute;
  color: red;
  margin-left: -25px;
  margin-top: 15px;
}

.valid-pwd {
  position: relative;
}

.valid-pwd i {
  position: absolute;
  margin-top: -55px;
  margin-left: 220px;
}

.hide {
  display: none;
}

.register-form>span {
  margin-bottom: 30px;
  color: #8AA4B3;
  font-weight: 500;
}


.register-form>button {
  margin-bottom: 30px;
  margin-top: 160px;
  font-weight: 500;
}

.register-form span {
  margin-bottom: 30px;
  color: #8AA4B3;
  font-weight: 500;
}

#username {
  width: 420px;

}

#fullname {
  width: 420px;

}

#password {
  width: 200px;

}

#confirm_password {
  width: 200px;

}

#birthday {
  width: 200px;
  color: #757575;
}

.input-gender {
  margin-left: 20px;
  position: relative;
}

.input-gender input {
  width: 20px;
  margin-right: 50px;
  outline: none;
  box-shadow: none;


}

input[type='radio']:checked:after {
  visibility: visible;
  accent-color: #2DC98A;
  border: 1px solid white;
}



.gender {
  font-weight: normal;
  font-size: 14px;
  color: #757575;
}

.gender {
  position: absolute;
  margin-left: -40px;
  margin-top: 14px;
  color: #757575;

}

.gender span {
  color: #757575;
}


#email {
  width: 420px;
}

#phone {
  width: 420px;
}

.checkbox input {
  float: left;
  width: 20px;
  margin-left: 20px;
  outline: none;
  box-shadow: none;

}

.checkbox p {
  width: 380px;
  margin-left: 60px;
  color: #8AA4B3;
  font-weight: 500;
}

.btn-res {
  background-color: #2DC98A;
  width: 420px !important;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #2DC98A;
  color: #fff;
}


.btn-already-res {
  background-color: #fff !important;
  width: 180px !important;
  height: 40px !important;
  text-align: center;
  border: 1px solid #2DC98A !important;
  margin-top: -40px !important;
  position: absolute;
  right: 120px;
  font-weight: 500;
  font-size: 15px !important;
}

.btn-already-res:hover {
  background-color: #2DC98A !important;

}

/* --------------------------RESET PASSWORD------------------------- */

.reset-form {
  width: 350px;
  margin-top: 5%;
  margin-left: 20%;
  position: absolute;
  z-index: 11;
}

/*---------------------------HOMEPAGE------------------------------*/

.header {
  width: 100%;
  background-color: white;
  padding: 1%;
  margin-bottom: 10px;
}

.header a {
  color: white;
}

.nav-custom {
  margin-right: 80px !important;
}

.nav-custom li {
  padding: 0 20px 0 20px;

}

.nav-custom li {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 15px;

}

.nav-custom a {
  color: black;
  text-decoration: none;
}

.nav-custom li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-custom li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  border-bottom: 3px solid orangered;
}

.not-hover:hover {
  border: none;
}

.logo {
  width: 150px;
  height: 40px;
  margin-left: 80px;
  background-color: black;
  float: left;
}

.background {
  background-image: url('/public/assets/img/backgr7.jpg');
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 10%;
  background-size: cover;
  object-fit: fill;
  position: relative;
}

.booking-in-homepage {
  width: 420px;
  height: 570px;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  top: 9%;
  left: 10%;
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255)), rgb(255, 255, 255);

}

.booking-in-homepage h2 {
  padding-left: 10%;
  padding-top: 4%;
  bottom: 21.33%;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 59px;

  color: #333333;
}

.class-input {
  margin-left: 10%;
  margin-bottom: 5%;
}

.class-input {
  width: 80%;
}

.class-input>div {
  width: 100%;
}

.class-input input {
  width: 80%;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0.5px solid #8AA4B3;
  border-radius: 5px;
}

.class-input select {
  width: 100%;
  height: 50px;
  padding-right: 90px;
  padding-left: 10px;
  border: 0.5px solid #8AA4B3;
  border-radius: 5px;
}

.class-input input:focus {
  border: 0.5px solid #8AA4B3;
  outline: auto #C5EDDF;
}

.class-input select:focus {
  border: 0.5px solid #8AA4B3;
  outline: auto #C5EDDF;
}

.booking-in-homepage button {
  width: 80%;
  height: 50px;
  margin-top: 15px;
  margin-left: 10%;
  background-color: #2DC98A !important;
  border: 1px solid #2DC98A;
  color: #fff;
  border-radius: 5px;

}

.booking-in-homepage button:hover{
  background-color: #3ab489  !important;
}

.describe-system {
  position: absolute;
  right: 10%;
  top: 35%;
  z-index: 0;
}

.describe-system h1 {
  color: white;
}

.describe-system p {
  width: 600px;
  margin-right: 20px;
  margin-top: 10%;
  color: white;
  font-size: 20px;
  float: right;
}

/* ------------------------------------zone-area-homepage---------------------------- */

.zone-area-homepage {
  margin-top: 4% !important;
}

.zone-area-homepage .card {
  width: 22%;

  margin-left: 3.5%;
  margin-right: 3.5%;
  border-radius: 0;
}

.zone-area-homepage .card-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: none;
}

.zone-area-homepage .card-header div {
  position: absolute;
  background-color: #2DC98A !important;
  width: 50%;
  height: 25px;
  top: 0;
  right: 0;
  margin-right: -12px;
  text-align: center;
}

.zone-area-homepage .card-header span {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  text-decoration: underline;
}

.zone-area-homepage .card-body span {
  margin-left: -48px;
}

.zone-area-homepage .card-body div {
  margin-left: -48px;
  margin-top: 10px;
}

.zone-area-homepage .card-footer {
  background-color: #fff;
  border: none;
}

.zone-area-homepage .card-footer button {
  height: 30px;
  width: 55%;
  background-color: #2DC98A !important;
  border: 1px solid #2DC98A;
  color: #fff;
  margin-bottom: 15px;
  margin-right: 20px;
}

.zone-area-homepage .card-footer button:hover {
  background-color: #3ab489  !important;

}

.barrier-homepage{
  margin-top: 100px !important;
}

.barrier-homepage div{
  width: 35.5%;
  height: 280px;
  margin-left: 5%;
  margin-right: 5%;

}

.barrier-homepage>div>span{
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 70px;
  border-left: 2px solid #2DC98A;
  
}

.barrier-homepage>div>span>h5{
  font-size: 18px;
  font-weight: 400;
}

.img-gate-homepage {
  background-image: url('/public/assets/img/gate.jpg');;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: fill;
  text-align: center;
}

.img-gate-homepage button {
  height: 20%;
  width: 30%;
  margin-top: 20%;
  background: linear-gradient(2deg, rgba(45, 201, 138,0.9), rgba(45, 201, 138,0.9), rgba(45, 201, 138,0.9));
  border: 1px solid #2DC98A;
  color: #fff;
  
}

.img-gate-homepage button:hover {
  background-color: #3ab489e0  !important;

}

.img-gate-homepage:hover{
  background-color: rgba(0,0,0,0.5);
}

.zone-area-homepage .card-footer button:hover {
  background-color: #3ab489  !important;

}

/* --------------------------------------FOOTER--------------------------------- */
.footer {
  width: 100%;
  background-color: #2DC98A !important;
  padding: 1%;
  margin-bottom: 10px;
  color: white;
}

.footer a,p{
  color: white;
}
/* --------------------------------------RESERVATION--------------------------------- */
.step-reservation {
  text-align: center;
}

.step-reservation div{
  width: 100px;
  height: 100px;
  background-color: black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}