* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  

  
  
  /* --------------------------REGISTER------------------------- */
  .container-register {
    height: 790px;
    position: relative;
  }
  
  .background-register {
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .register-form {
    width: 500px;
    margin-top: 3%;
    margin-left: 20%;
    z-index: 99;
    position: absolute;
    border: #fff
  }
  
  .register-form input {
    height: 50px;
    border-radius: 5px;
    border: 0.5px solid #8AA4B3;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
  
  
  }
  
  .register-form input:focus {
    border: 0.5px solid #8AA4B3;
    outline: auto #C5EDDF;
  }
  
  .validName {
    position: relative;
  }
  
  .valid {
    position: absolute;
    color: green;
    margin-left: -25px;
    margin-top: 15px;
  
  }
  
  .invalid {
    position: absolute;
    color: red;
    margin-left: -25px;
    margin-top: 15px;
  }
  
  .valid-pwd {
    position: relative;
  }
  
  .valid-pwd i {
    position: absolute;
    margin-top: -55px;
    margin-left: 220px;
  }
  
  .hide {
    display: none;
  }
  
  .register-form>span {
    margin-bottom: 30px;
    color: #8AA4B3;
    font-weight: 500;
  }
  
  
  .register-form>button {
    margin-bottom: 30px;
    margin-top: 160px;
    font-weight: 500;
  }
  
  .register-form span {
    margin-bottom: 30px;
    color: #8AA4B3;
    font-weight: 500;
  }
  
  #username {
    width: 420px;
  
  }
  
  #fullname {
    width: 420px;
  
  }
  
  #password {
    width: 200px;
  
  }
  
  #confirm_password {
    width: 200px;
  
  }
  
  #birthday {
    width: 200px;
    color: #757575;
  }
  
  .input-gender {
    margin-left: 20px;
    position: relative;
  }
  
  .input-gender input {
    width: 20px;
    margin-right: 50px;
    outline: none;
    box-shadow: none;
  
  
  }
  
  input[type='radio']:checked:after {
    visibility: visible;
    accent-color: #2DC98A;
    border: 1px solid white;
  }
  
  
  
  .gender {
    font-weight: normal;
    font-size: 14px;
    color: #757575;
  }
  
  .gender {
    position: absolute;
    margin-left: -40px;
    margin-top: 14px;
    color: #757575;
  
  }
  
  .gender span {
    color: #757575;
  }
  
  
  #email {
    width: 420px;
  }
  
  #phone {
    width: 420px;
  }
  
  .checkbox input {
    float: left;
    width: 20px;
    margin-left: 20px;
    outline: none;
    box-shadow: none;
  
  }
  
  .checkbox p {
    width: 380px;
    margin-left: 60px;
    color: #8AA4B3;
    font-weight: 500;
  }
  
  .btn-res {
    background-color: #2DC98A;
    width: 420px !important;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #2DC98A;
    color: #fff;
  }
  
  
  .btn-already-res {
    background-color: #fff !important;
    color: black;
    width: 180px !important;
    height: 40px !important;
    text-align: center;
    border: 1px solid #2DC98A !important;
    margin-top: -40px !important;
    position: absolute;
    right: 120px;
    font-weight: 500;
    font-size: 15px !important;
  }
  
  .btn-already-res:hover {
    background-color: #2DC98A !important;
  
  }
  
  